/* ==================================SETUP Variablen =====================================================*/



/* Schriftart definieren */
@font-face {
    font-family: 'Work Sans';
    src: url('../src/font/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../src/font/roboto_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Weise den @Fonts eine Variable */
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Work Sans', sans-serif;

/* Farben ändern */
$primary-color: var(--pico-primary); // Custom oder Pico Primary mit var(--pico-primary)
$secondary-color: var(--pico-secondary);  // Custom oder Pico Secondary mit var(--pico-secondary)




/* ==================================COMPONENTS: Variablen setzen================================================*/

// Body
$body-bg-color: white;

// ======= Heading
// H1
$h1-size: 64px;
$h1-line-height: 1.6;
$h1-font-weight: 400;
$h1-font-family: $font-primary;
$h1-color: $primary-color;

// H2
$h2-size: 48px;
$h2-line-height: 1.6;
$h2-font-weight: 400;
$h2-font-family: $font-primary;
$h2-color: $primary-color;

// H3
$h3-size: 40px;
$h3-line-height: 1.6;
$h3-font-weight: 400;
$h3-font-family: $font-primary;
$h3-color: $primary-color;

// H4
$h4-size: 32px;
$h4-line-height: 1.6;
$h4-font-weight: 400;
$h4-font-family: $font-primary;
$h4-color: $primary-color;

// H5
$h5-size: 24px;
$h5-line-height: 1.6;
$h5-font-weight: 400;
$h5-font-family: $font-primary;
$h5-color: $primary-color;

// H6
$h6-size: 20px;
$h6-line-height: 1.6;
$h6-font-weight: 400;
$h6-font-family: $font-primary;
$h6-color: $primary-color;

// Paragraph
$p-size: 16px;
$p-line-height: 1.6;
$p-font-weight: 400;
$p-font-family: $font-secondary;
$p-color: $secondary-color;

// a 
$a-size: 16px;
$a-line-height: 1.6;
$a-font-weight: 400;
$a-font-family: $font-secondary;
$a-color: $secondary-color;

// Caption
$caption-size: 16px;
$caption-line-height: 1.6;
$caption-font-weight: 400;
$caption-font-family: $font-secondary;
$caption-color: $secondary-color;

// Breadcrumb
$breadcrumb-size: 16px;
$breadcrumb-line-height: 1.6;
$breadcrumb-font-weight: 400;
$breadcrumb-font-family: $font-secondary;
$breadcrumb-color: $secondary-color;

// Button
$button-font-size: 10px;
$button-font-weight: 700;
$button-color: $primary-color;
$button-font-family: $font-secondary;
$button-bg-color: $primary-color;
$button-hover: #000000;

// Nav
$nav-bg-color: white; 
$nav-link-color: $secondary-color;
$nav-hover: $primary-color;
$nav-font-size: 16px;
$nav-font-weight: 700;
$nav-font-family: $font-primary;
$nav-text-transform: uppercase;

// Top-bar
$topbar-bg-color: $primary-color;
$topbar-link-color: white;

// Footer
$footer-bg-color: $primary-color;
$footer-link-color: white;


// Icon Primary

$icon-font-size: 12px;
$icon-color: white;
$icon-bg-color: $primary-color;
$icon-border-radius: 50%;


// Icon Outline
$icon-outline-font-size: 12px;
$icon-outline-color: $primary-color;
$icon-outline-bg-color: white;
$icon-outline-border: 1px solid $primary-color;
$icon-outline-border-radius: 50%;



/* =================================CODE======================================================== */

body {
    font-family: $font-primary;
    background-color: $body-bg-color;
}

// Font
h1 {
    font-family: $h1-font-family;
    font-size: $h1-size;
    line-height: $h1-line-height;
    font-weight: $h1-font-weight;
    color: $h1-color;
}

h2 {
    font-family: $h2-font-family;
    font-size: $h2-size;
    line-height: $h2-line-height;
    font-weight: $h2-font-weight;
    color: $h2-color;
}

h3 {
    font-family: $h3-font-family;
    font-size: $h3-size;
    line-height: $h3-line-height;
    font-weight: $h3-font-weight;
    color: $h3-color;
}

h4 {
    font-family: $h4-font-family;
    font-size: $h4-size;
    line-height: $h4-line-height;
    font-weight: $h4-font-weight;
    color: $h4-color;
}

h5 {
    font-family: $h5-font-family;
    font-size: $h5-size;
    line-height: $h5-line-height;
    font-weight: $h5-font-weight;
    color: $h5-color;
}

h6 {
    font-family: $h6-font-family;
    font-size: $h6-size;
    line-height: $h6-line-height;
    font-weight: $h6-font-weight;
    color: $h6-color;
}

p {
    font-family: $p-font-family;
    font-size: $p-size !important;
    color: $p-color;
    line-height: $p-line-height;
    font-weight: $p-font-weight;
}

a {
    font-family: $a-font-family;
    color: $a-color;
    font-weight: $a-font-weight;
    line-height: $a-line-height;
}

// Caption
.caption {
    font-family: $caption-font-family;
    font-size: $caption-size;
    color: $caption-color;
    font-weight: $caption-font-weight;
    line-height: $caption-line-height;
}

// Breadcrumb
.breadcrumb {
    font-family: $breadcrumb-font-family;
    font-size: $breadcrumb-size;
    font-weight: $breadcrumb-font-weight;
    line-height: $breadcrumb-line-height;
    background-color: white;
    color: $breadcrumb-color;
}

// Button
.button {
    font-family: $button-font-family;
    font-size: $button-font-size;
    background-color: $button-bg-color;
    font-weight: $button-font-weight;
}

.button:hover {
    color: $button-hover;
}

// Footer
.footer {
    background-color: $footer-bg-color;
}

.footer a {
    color: $footer-link-color;
}

// Topbar
.topbar {
    background-color: $topbar-bg-color;
}

.topbar a {
    color: $topbar-link-color;
}

// Navigation
.nav {
    background-color: $nav-bg-color;
}

.nav a {
    font-family: $nav-font-family;
    font-size: $nav-font-size;
    font-weight: $nav-font-weight;
    color: $nav-link-color;
    text-transform: $nav-text-transform;
}

.nav a:hover {
    color: $nav-hover;
}

// Mobile Responsive
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    nav {
        display: block;
    }
}


i .primary{
    background-color: $icon-bg-color;
    font-size: $icon-font-size;
    color: $icon-color;
    border-radius: $icon-border-radius;
}

i .outline{
    background-color: $icon-outline-bg-color;
    font-size: $icon-outline-font-size;
    color: $icon-outline-color;
    border: $icon-outline-border;
    border-radius: $icon-outline-border-radius;
}






