//=====Img

.img-fluid {

  max-width: 100%;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* Funktioniert für Block-Elemente */
}

//==========VH

.vh-100 {
  width: 100%;
  min-height: 100dvh;
}

.vh-75 {
  width: 100%;
  min-height: 75dvh;
}

.vh-50 {
  width: 100%;
  min-height: 50dvh;
}

.vh-25 {
  width: 100%;
  min-height: 25dvh;
}

//========Text

.text-start {

  text-align: start;
}

.text-center {

  text-align: center;
}

.text-end {

  text-align: end;
}

//========Shadow

.shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.shadow-3 {

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.shadow-4 {

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.shadow-5 {

  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.shadow-6 {

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.uppercase {
  text-transform: uppercase;
}

//========Display



.d-none {
  display: none;
}

//Pico Breakpoint (XS) 
@media(max-width: 576px) {

  .d-xs-none {
    display: none;
  }

  .d-xs-flex {
    display: flex;
  }

}

//Pico Breakpoint (sm) 
@media(max-width: 768px) {

  .d-sm-none {
    display: none;
  }

  .d-sm-flex {
    display: flex;
  }

}

//Pico Breakpoint (md) 
@media(max-width: 1024px) {

  .d-md-none {
    display: none;
  }

  .d-md-flex {
    display: flex;
  }

}


//Pico Breakpoint (LG) 
@media(max-width: 1280px) {

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }

}


//Pico Breakpoint (XL) 
@media(max-width: 1563px) {

  .d-xl-none {
    display: none;
  }

  .d-xl-flex {
    display: flex;
  }

}

//Pico Breakpoint (XXL) 
@media(max-width: 1920px) {

  .d-xxl-none {
    display: none;
  }

  .d-xxl-flex {
    display: flex;
  }

}



.d-inline-block {
  display: inline-block;
}


.d-inline-flex {
  display: inline-flex;
}


//==========IMG Rounded (Circle)


//Größe des IMG in PX + 50% Radius (Rounded)

.circle-8 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 8px;
  height: 8px;

}

.circle-16 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 16px;
  height: 16px;

}

.circle-24 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 24px;
  height: 24px;

}

.circle-32 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 32px;
  height: 32px;

}

.circle-40 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 40px;
  height: 40px;

}


.circle-48 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 48px;
  height: 48px;

}


.circle-56 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 56px;
  height: 56px;

}

.circle-64 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 64px;
  height: 64px;

}

.circle-72 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 72px;
  height: 72px;

}


.circle-80 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 80px;
  height: 80px;

}

.circle-128 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 128px;
  height: 128px;

}


.circle-256 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 256px;
  height: 256px;

}

.circle-512 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 512px;
  height: 512px;

}


.circle-1024 {
  border-radius: 50% !important;
  object-fit: cover;
  object-fit: cover;
  width: 1024px;
  height: 1024px;

}


//==========Border Rounded


.rounded-1 {
  border-radius: 0.5rem; // 8px
}

.rounded-2 {
  border-radius: 1rem; // 16px
}

.rounded-3 {
  border-radius: 1.5rem; // 24px
}

.rounded-4 {
  border-radius: 2rem; // 32px
}


// Standart
.rounded {
  border-radius: 1.5rem; // 24px
}

//==========Sticky

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Keeps the navbar above other content */
}



//========Justify Content

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}


.justify-content-around {
  justify-content: space-around;
}


//=========Justify item

.justify-items-start {
  justify-items: start;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}


//=========Justify Self

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}


//=======Align Items

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

//=======Align Content

.align-content-center {
  align-items: center;
}

.align-content-start {
  align-items: start;
}

.align-content-end {
  align-items: end;
}

//============Order=================

@media(max-width: 768px) {

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }

  .order-6 {
    order: 6;
  }

}


//============Padding=================
.p-1 {

  padding: 1em;

}

.p-2 {

  padding: 1.5em;

}

.p-3 {

  padding: 2em;

}

.p-4 {

  padding: 2.5em;

}

.p-5 {

  padding: 3em;

}

//============Padding Y=================

.py-1 {

  padding: 1em 0 1em 0;

}

.py-2 {

  padding: 1.5em 0 1.5em 0;

}

.py-3 {

  padding: 2em 0 2em 0;

}

.py-4 {

  padding: 2.5em 0 2.5em 0;

}

.py-5 {

  padding: 3em 0 3em 0;

}


//============Padding X=================
.px-1 {

  padding: 0 1em 0 1em;

}

.px-2 {

  padding: 0 1.5em 0 1.5em;

}

.px-3 {

  padding: 0 2em 0 2em;

}

.px-4 {

  padding: 0 2.5em 0 2.5em;

}

.px-5 {

  padding: 0 3em 0 3em;

}

//============Padding Top=================


.pt-1 {

  padding-top: 1em;

}

.pt-2 {

  padding-top: 1.5em;

}

.pt-3 {

  padding-top: 2em;

}

.pt-4 {

  padding-top: 2.5em;

}

.pt-5 {

  padding-top: 3em;

}


//============Padding bottom=================

.pb-1 {

  padding-bottom: 1em;

}

.pb-2 {

  padding-bottom: 1.5em;

}

.pb-3 {

  padding-bottom: 2em;

}

.pb-4 {

  padding-bottom: 2.5em;

}

.pb-5 {

  padding-bottom: 3em;

}


//============Padding Start (Left)=================


.ps-1 {

  padding-left: 1em;

}

.ps-2 {

  padding-left: 1.5em;

}

.ps-3 {

  padding-left: 2em;

}

.ps-4 {

  padding-left: 2.5em;

}

.ps-5 {

  padding-left: 3em;

}


//============Padding End (Right)=================


.pe-1 {

  padding-right: 1em;

}

.pe-2 {

  padding-right: 1.5em;

}

.pe-3 {

  padding-right: 2em;

}

.pe-4 {

  padding-right: 2.5em;

}

.pe-5 {

  padding-right: 3em;

}


//============Margin=================
.m-1 {

  margin: 1em;

}

.m-2 {

  margin: 1.5em;

}

.m-3 {

  margin: 2em;

}

.m-4 {

  margin: 2.5em;

}

.m-5 {

  margin: 3em;

}

//============Margin Y=================

.my-1 {

  margin: 1em 0 1em 0;

}

.my-2 {

  margin: 1.5em 0 1.5em 0;

}

.my-3 {

  margin: 2em 0 2em 0;

}

.my-4 {

  margin: 2.5em 0 2.5em 0;

}

.my-5 {

  margin: 3em 0 3em 0;

}


//============Margin X=================
.mx-1 {

  margin: 0 1em 0 1em;

}

.mx-2 {

  margin: 0 1.5em 0 1.5em;

}

.mx-3 {

  margin: 0 2em 0 2em;

}

.mx-4 {

  margin: 0 2.5em 0 2.5em;

}

.mx-5 {

  margin: 0 3em 0 3em;

}



//============Margin Top=================
.mt-1 {

  margin-top: 1em;

}

.mt-2 {

  margin-top: 1.5rem;

}

.mt-3 {

  margin-top: 2em;

}

.mt-4 {

  margin-top: 2.5em;

}

.mt-5 {

  margin-top: 3em;

}


//============Margin bottom=================
.mb-1 {

  margin-bottom: 1em;

}

.mb-2 {

  margin-bottom: 1.5em;

}

.mb-3 {

  margin-bottom: 2em;

}

.mb-4 {

  margin-bottom: 2.5em;

}

.mb-5 {

  margin-bottom: 3em;

}



//============Margin End (right)=================
.me-1 {

  margin-right: 1em;

}

.me-2 {

  margin-right: 1.5em;

}

.me-3 {

  margin-right: 2em;

}

.me-4 {

  margin-right: 2.5em;

}

.me-5 {

  margin-right: 3em;

}



//============Margin Start(left)=================
.ms-1 {

  margin-left: 1em;

}

.ms-2 {

  margin-left: 1.5em;

}

.ms-3 {

  margin-left: 2em;

}

.ms-4 {

  margin-left: 2.5em;

}

.ms-5 {

  margin-left: 3em;

}



//=========Width

.w-25 {
  max-width: 25%;
}

.w-50 {
  max-width: 50%;
}

.w-75 {
  max-width: 75%;
}

.w-100 {
  max-width: 100%;
}


//=========height

.h-25 {
  max-height: 25%;
}

.h-50 {
  max-height: 50%;
}

.h-75 {
  max-height: 75%;
}

.h-100 {
  max-height: 100%;
}

//=========Colum gap

.gap-1 {
  column-gap: 1em;
}

.gap-2 {
  column-gap: 1.5em;
}


.gap-3 {
  column-gap: 2em;
}

.gap-4 {
  column-gap: 2.5em;
}